In [1]:
import pandas as pd
from warnings import filterwarnings
filterwarnings('ignore')

**Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv("Salaries.csv")

**Check the head of the DataFrame.**

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to check datatype of columns**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**Check values of the follwing columns and see if there datatypes are suitable:**
- BasePay
- OvertimePay

In [5]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors="coerce")
sal['BasePay']

0         167411.18
1         155966.02
2         212739.13
3          77916.00
4         134401.60
            ...
148649         0.00
148650          NaN
148651          NaN
148652          NaN
148653         0.00
Name: BasePay, Length: 148654, dtype: float64

In [6]:
sal["OvertimePay"] = pd.to_numeric(sal["OvertimePay"], errors="coerce")
sal["OvertimePay"]

0              0.00
1         245131.88
2         106088.18
3          56120.71
4           9737.00
            ...
148649         0.00
148650          NaN
148651          NaN
148652          NaN
148653         0.00
Name: OvertimePay, Length: 148654, dtype: float64

In [7]:
sal['OtherPay'] = pd.to_numeric(sal['OtherPay'], errors="coerce")
sal['OtherPay'].dtypes

dtype('float64')

**What is the average BasePay ?**

In [8]:
sal['BasePay'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0         167411.18
1         155966.02
2         212739.13
3          77916.00
4         134401.60
            ...
148649         0.00
148650          NaN
148651          NaN
148652          NaN
148653         0.00
Name: BasePay, Length: 148654, dtype: float64>

**What is the highest amount of OvertimePay in the dataset ?**

In [9]:
y = sal['BasePay'].max()
x = sal.BasePay.idxmax()

y

319275.01

What is the job title of  JOSEPH DRISCOLL?

In [10]:
sal.JobTitle[sal.EmployeeName == "JOSEPH DRISCOLL" ]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

How much does JOSEPH DRISCOLL make (including benefits)

In [11]:
sal.TotalPay[sal.EmployeeName == "JOSEPH DRISCOLL" ]

24    270324.91
Name: TotalPay, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [12]:
sal.EmployeeName[sal["TotalPay"].idxmax()]

'NATHANIEL FORD'

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid**

In [13]:
sal.EmployeeName[sal["TotalPay"].idxmin()]

'Joe Lopez'

In [14]:
sal.TotalPay[sal.EmployeeName == "Joe Lopez" ] #I guess he owes the company

148653   -618.13
Name: TotalPay, dtype: float64

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [21]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [ ]:
sal["JobTitle"].nunique()

2159

**What are the top 5 most common jobs?**

In [22]:
count = sal["JobTitle"].value_counts()
count.head()
 # Transit Operator    7036

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [34]:
sum(sal[sal.Year == 2013]['JobTitle'].value_counts() == 1)

202

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [41]:
sal["JobTitle"].head()

0    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                   CAPTAIN III (POLICE DEPARTMENT)
2                   CAPTAIN III (POLICE DEPARTMENT)
3              WIRE ROPE CABLE MAINTENANCE MECHANIC
4      DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
Name: JobTitle, dtype: object

In [47]:
def count_chief(x):
  return "chief" in x.lower()

sum(sal['JobTitle'].apply(count_chief))

627

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

In [50]:
sal.JobTitle

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148649                                         Custodian
148650                                      Not provided
148651                                      Not provided
148652                                      Not provided
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [58]:
import numpy as np

L_of_JT = sal.JobTitle.apply(len)
salary = sal.BasePay
sal["JobTitlelength"] = L_of_JT
corr = sal.corr()
corr.loc["BasePay","JobTitlelength"]

-0.005059092342867817